#ktPopupBox {
    color: #B7E7FF;
    font: normal 16px sans-serif;
    position: absolute;
    z-index: 99993;
    border: 1px solid #D0D0D0;
    background: #ff4d4d;
    padding: 4px;
    border-radius: 5px;
    top: 5px;
    left: 5px;

    /* make text unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
